[Unit]
Description=Update Vmiss traffic in subscription Worker every hour

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
RandomizedDelaySec=20s
Persistent=true

[Install]
WantedBy=timers.target
